

* {
    color: black;
}
body{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
section#particles-js {
    flex: 1;
    height: 100vh;
    background: url(bg-final.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.fontsforweb_fontid_9785{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align:center;
    margin-top: 2%;
    color: black;
}

.img-logo{
    width: 15%;
    height: 20%;
    margin-top: 4%;
    position: relative;
}
/*BUTTON*/
#btn-start{
    transition: all .2s ease-in;
    width: auto;
    border-radius: 120px;
    border-color: black;
    color: black;
    position: absolute;
    top: 400px;
    letter-spacing: 2px;
    left: 43%;
    font-size: 20px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
#btn-start:hover {
    transform: scale(1.2);
    color: #12CBC4;
}
#btn-start:active {
    transform: scale(0.6);
    color: gray;
}
.logo-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
