body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(270deg, #74d2e9, #df8cef, #89eb86, #efcc8c, #8895e7, #e98f8f);
    background-size: 500% 500%;
    -webkit-animation: gradientbg 21s ease infinite;
    -moz-animation: gradientbg 21s ease infinite;
    animation: gradientbg 21s ease infinite;
}
.container{
    height: 330px;
    width: 1000px ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(red, green, blue, alpha);
    padding: 50px;
    padding-bottom: 90px;
    
}
label{
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.title{
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    color: #0b271a;
    text-shadow:0px 5px 9px #74b97f;
    letter-spacing: 5px;
    padding: 10px;
}
.question{
    padding: 20px;
    font-size: 22px;
    background:#09aa5f;
    border-radius: 20px;
    margin: 20px 0 10px ;
    color: #f6f6f6;
}
.option{
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px 0 10px 10px;
    color: #000000;
    
    border-radius: 20px;
    
}
.option:hover{
    background: #40407a;
    color: #f6f6f6;
}
.next-btn{
    border: none;
    outline: none;
    background: #f7f1e3;
    width: 160px;
    height: 55px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;
    font-size: 20px;
}
.next-btn:hover{
    background: #34ace0;
    color: #f6f6f6;
}
.result{
    height: 100px;
    text-align: center;
    font-size: 75px;
}
.option input:checked .option{
    background: #880088;
    color: #000;
    size: 100px;
}
@-webkit-keyframes gradientbg {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@-moz-keyframes gradientbg {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@keyframes gradientbg { 
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
